@model IEnumerable<Clonestagram.Models.Post>

<h2>ShowPosts</h2>
<hr />
@if (Model != null)
{
    foreach (Clonestagram.Models.Post post in Model)
    {
        <div class="jumbotron">
            <h3>On @post.date.ToString("MM/dd/yyyy") at @post.date.ToString("HH:mm")  @post.ApplicationUserName has posted</h3>
            <h2>@post.Title</h2>
            <p>@post.Content</p>
            @Html.ActionLink("Like", "Like", "Post", new { id = post.Id }, new { @class = "btn btn-default"})
            <p>@post.Likes Likes</p>

        </div>
    }

}
else
{
    <p>there arent any posts yet...</p>
}

